/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-wh {
  @extend .full-height;
  @extend .full-width;
}

.full-width {
  min-width: 100%;
}

.full-height {
  min-height: 100%;
}

.fill-flex {
  align-content: start;
}

mat-list {
  flex-grow: 1;
  overflow: auto;
}

.overflow-auto {
  overflow: auto !important;
}
